@authenticgaming:registry=https://pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/registry/

always-auth=true

//npm.pkg.github.com/:_authToken=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

; begin auth token 
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/registry/:username=authenticgaming 
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/registry/:_password=aXJmdGhrbjJkcjN4NjQ2NWt2MmxndDIzempmNmVwc3Fpb3R5Y2UycmdxbmhkbXh4ZXp5YQ==
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/registry/:email=mikita.dusmikeev@authenticgaming.com
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/:username=authenticgaming 
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/:_password=aXJmdGhrbjJkcjN4NjQ2NWt2MmxndDIzempmNmVwc3Fpb3R5Y2UycmdxbmhkbXh4ZXp5YQ==
//pkgs.dev.azure.com/authenticgaming/_packaging/hydra-ui%40Local/npm/:email=mikita.dusmikeev@authenticgaming.com
; end auth token
